exercise_21102016/target/classes/exercise_21102016.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="${global.port}" basePath="/exercise" doc:name="HTTP Listener Configuration" />
		
    <context:property-placeholder location="${mule.env}-app.properties"/>
		
	<flow name="exercise_21102016Flow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/" doc:name="HTTP" />
		<logger level="INFO" doc:name="Logger"/>
			
		<!-- <http:body-to-parameter-map-transformer
			doc:name="Body to Parameter Map" /> -->
		
		<!-- <set-payload value="#[message.inboundProperties.'http.query.params']" doc:name="Set Payload" /> -->
		
		<set-payload value="${app.message}" doc:name="Set Payload"/>
		<logger level="INFO" message="Payload : #[payload]" doc:name="Logger"/>
	</flow>
</mule>
